@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Modak");



nav  {
  height: 80px;
}

.navbar-header a {
  /*background: url(finger.jpg) no-repeat center center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  */
  color: #ffe4cf;
  font-family: "Modak";
  font-size: 500%;

  
}

.container-fluid {
display: flex;
justify-content: center;
align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badword {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fansp {
}

.space2 {
  padding: 40px;
}


.logo {
  
  width: 2000px;
}

p {
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}


.topnav button {
  float: right;
 	
}


.containerr {
flex-wrap: wrap;
margin: 10px;
}

			


/* 	padding-top: 110px;
	 width: 1200px;
 margin: 0 auto;
 height: 500px;



 	 z-index: -1;
   filter: blur(8px);
  transition: filter 0.25s linear;

 filter: blur(0);
 


  height: 100%;
  width: 100%;
  object-fit: contain;

  */


.sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.row {  
	padding-top: 120px;
		display: flex;
  justify-content: center;
  align-items: center;
  width: 960px
	height: 500px;	

}
*/

* {
  margin: 0;
  padding: 0;
}



.row {
  width: 960px;
  height: 500px;
  padding-top: 80px;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  box-sizing: border-box;
}

.column img {
	width: 20px;
	height: 300px;
} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



.button2 {
	background:    #15d798;
border-radius: 11px;
box-shadow:    0 1px #cccccc;
padding:       20px 33px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 21px/1 "Open Sans", sans-serif;
text-align:    center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.important_button {
  padding-top: 180px;
	display: flex;
  align-items: center;
  justify-content: center;
}

 .image-area{
 	padding-top: 40px;
	 width: 1500px;
 margin: 0 auto;
 height: 1000px;

 }


.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.about {
text-align: center;

}
.about h2{
	font-family: Helvetica, sans-serif;
}

.about h4 {
	font-family: Georgia, serif;
}




.space2 {
  padding: 15px;
}
